name: Arduino CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile Arduino sketches
        uses: arduino/compile-sketches@v1
        with:
          fqbn: "arduino:avr:uno"
          sketch-paths: |
            .